$white: #fff;
$black: #000;
$grey-500: #626C7F;
$grey-50: #f4f6fa;
$blue-950: #2d3949;
$blue-900: #313e51;
$blue-850: #3d4d66;
$blue-800: #306aff;
$blue-300: #abc1e1;
$blue-100: #edf1f9;
$blue-50: #EBF0FF;
$green-500: #2fd887;
$green-50: #e0fdef;
$purple-500: #a729f5;
$purple-300: hsl(277,75%, 68%);
$purple-200: hsl(277,80%, 80%);
$purple-50: #F6E7FF;
$orange-500: #ff7e35;
$orange-50: #FFF5ED;
$red: #ee5454;
