@use "../../scss/color" as color;
@use "../../scss/typography" as typography;
@use "../../scss/breakpoint" as breakpoint;

.loading{
  .wrapper{
    display: grid;
    align-items: center;
    justify-items: center;
    min-height: 100svh;

    .message{
      @include typography.text-preset-2;
      font-weight: 500;

      @media (min-width: breakpoint.$desktop){
        @include typography.text-preset-1;
        font-weight: 500;
      }
    }
  }
}
